body{
    /* position: relative; */
    overflow-x: hidden;
}

.main-nav-bar {
    font-size:1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-nav-image {
    width: 10rem;
}

.main-nav-image img {
    width: 100%;
    cursor: pointer;
}

.main-nav-items ul{
    display: flex;
    align-items: center;
    list-style: none;
    vertical-align: middle;
    /* position: absolute; */
}

.main-nav-items a{
    padding: 0 0.5rem;
    text-decoration: none;
    color:black;
    font-weight:300;
    font-size:1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}

.main-nav-bar-3 {
   width: 20%;
}

.main-nav-bar-3 ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.main-nav-bar-3 ul li{
    padding:0.3rem;
    margin:0.2rem;
}

.main-nav-bar-3 a{
    font-weight: 300;
    position: relative;
}

.main-nav-bar-3 a::before{
    content: '';
    height: 3px;
    width:0%;
    position: absolute;
    bottom:0;
    left:0;
    background-color: rgb(4, 226, 255);
    transition:width 0.5s ease;
}

.main-nav-bar-3 li:hover a::before{
    width:100%;
}

#main-section {
    display: flex;
}

#kitchen-slide {
    display: flex;
    width: 50vw;
    height: 75vh;
    padding: 20px;
    margin-top: 3.5rem;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background: url("/ggimages/first-img.jpg") center/cover no-repeat border-box;
    border: 0;
    z-index: -1;
}

.content-1 {
    margin-top: 3.5rem;
    background-color: rgb(227, 230, 228);
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.slide-1 {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 1.6rem;
    /* right: 10%; */
}

.content-1 h2{
    font-size: 5rem;
    font-weight: 550;
    text-align: center;
}

.button {
    background: #0e4f1f;
    color: white;
    cursor: pointer;
    padding: 8px;
    font-weight: bold;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

#main-section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50vh;
}

/* .heading {
    margin: 2rem 0;
} */

#main-section-2 h1 {
    height: 5vh;
    position: absolute;
    top: 2%;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
    z-index: 10;
}

.Fimages {
    /* border: 1px solid black; */
    margin: 2rem 0;
    display: flex;
}

.Fimages img {
    filter: grayscale(1);
}

.Fimages img:hover {
    filter: grayscale(0);
}

.content-2 {
    overflow: hidden;
    /* position: absolute; */
    /* display: inline; */
}

.forest-img {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #6c757d;
    opacity: 0.6;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 500px;
    background-size: contain;
}

.forest-content-1 {
    position: absolute;
    top: 160%;
    left: 40%;
    /* bottom: 50%; */
    display: inline;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-1 {
    /* position: absolute; */
    cursor: pointer;
    background: cyan;
    border-radius: 5px;
    border: 100px;
    top: 190%;
    left: 50%;
    transform: translate(5%, 10%);
    font-size: 16px;
    padding: 12px 24px;
}

.button-1:hover,
.button-1:active {
    background: white;
    color: darkcyan;
}

.button-1:focus {
    outline: none;
}

.navg-bar {
    list-style: none;
    display: flex;
    justify-content:space-evenly;
}

.product-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-section {
    margin: 4rem;
    width:40%;
    height:40%;
}

.card-section img {
    width: 100%;
    height: 100%;
}

.img-part:hover .hover-primary{
    display: none;
}

.img-part .hover-effect{
    /* position:absolute;
    top:0;
    left:0;
    width:40%;
    height:40%; */
    display: none;
    transition:all 1s ease;
}

.img-part:hover .hover-effect{
    display: block;
    transition: all 1s ;
}

.small-icons-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:5rem;
    margin:0.5rem 0;
}

.small-icons-part a{
    border-radius:50%;
    height:2rem;
    width:2rem;
}

.small-icons-part .fa-heart,
.small-icons-part .fa-arrows-left-right-to-line,
.small-icons-part .fa-cart-shopping {
    border:1px solid white;
}

.fa-heart:hover{
    color:steelblue;
}

.fa-arrows-left-right-to-line {
    color:steelblue;
}

.fa-cart-shopping:hover{
    color:steelblue;
}

.naming-part h2{
    text-align:center;
    font-size:1rem;
    font-weight:500;
}

.naming-part p{
    font-weight:100;
    text-align: center;
}

.naming-part span{
    text-decoration: line-through;
}

.social-media h1{
    height: 5vh;
    top: 575%;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
    z-index: 10;
}

.media-sec {
    display: flex; 
    flex-wrap: wrap;
}

.media-img {
    width: 350px; 
    height: 400px
}

.final-section {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 2rem;
}

.btn {
    background-color: #0000;
    color: black;
    cursor: pointer;
    padding: 8px;
    font-weight: bold;
}

.btn:hover,
.btn:active {
    background: blue;
    color: skyblue;
}

.btn:focus {
    outline: none;
}

.final-section input[type = "text"] {
    /* background-color: black; */
    border: none;
    box-shadow: 0 2px black;
    outline: none;
    width: 380px;
}

.main-footer {
    background: lightgrey;
    padding: 1rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-footer__link {
    margin: 0.5rem 0;
}

.main-footer__link a {
    color: black;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: blueviolet;
}

@media (max-width: 40rem) {

    .main-footer__link {
        margin: 0 1rem;
    }  
    
    .main-footer__links {
        flex-direction: row;
        align-items: center;
    }
}

#main-media-footer__links {
    padding: 2rem;
    margin-top: 3rem;
    background:lightslategray;
}
